<a href="https://colab.research.google.com/github/helviorezende/arquivos-python/blob/main/vacina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
import csv

In [ ]:
#colunas = ['document_id','paciente_id','paciente_idade','paciente_dataNascimento','paciente_enumSexoBiologico','paciente_racaCor_codigo','paciente_racaCor_valor','paciente_endereco_coIbgeMunicipio','paciente_endereco_coPais','paciente_endereco_nmMunicipio','paciente_endereco_nmPais','paciente_endereco_uf','paciente_endereco_cep','paciente_nacionalidade_enumNacionalidade','estabelecimento_valor','estabelecimento_razaoSocial','estalecimento_noFantasia','estabelecimento_municipio_codigo','estabelecimento_municipio_nome','estabelecimento_uf','vacina_grupoAtendimento_codigo','vacina_grupoAtendimento_nome','vacina_categoria_codigo','vacina_categoria_nome','vacina_lote','vacina_fabricante_nome','vacina_fabricante_referencia','vacina_dataAplicacao','vacina_descricao_dose','vacina_codigo','vacina_nome','sistema_origem']
colunas = ['paciente_idade','paciente_enumSexoBiologico','paciente_endereco_nmMunicipio','paciente_endereco_uf','vacina_grupoAtendimento_nome','vacina_dataAplicacao','vacina_descricao_dose','vacina_grupoAtendimento_nome','vacina_fabricante_nome','vacina_descricao_dose']

In [ ]:
mg1 = pd.read_csv("C:/helvio/vacina/3/mg1.csv", sep=';', parse_dates=['vacina_dataAplicacao'], usecols=colunas)

In [ ]:
mg2 = pd.read_csv("C:/helvio/vacina/3/mg2.csv", sep=';', parse_dates=['vacina_dataAplicacao'], usecols=colunas)

In [ ]:
mg3 = pd.read_csv("C:/helvio/vacina/3/mg2.csv", sep=';', parse_dates=['vacina_dataAplicacao'], usecols=colunas)

In [ ]:
mg = pd.concat([mg1,mg2,mg3])

In [ ]:
mg['ano'] = mg['vacina_dataAplicacao'].dt.year
mg['mes'] = mg['vacina_dataAplicacao'].dt.month
#mg['dia'] = mg['vacina_dataAplicacao'].dt.day

In [ ]:
mg['mes'].replace(1,'janeiro', inplace=True)
mg['mes'].replace(2,'fevereiro', inplace=True)
mg['mes'].replace(3,'marco', inplace=True)
mg['mes'].replace(4,'abril', inplace=True)
mg['mes'].replace(5,'maio', inplace=True)
mg['mes'].replace(6,'junho', inplace=True)
mg['mes'].replace(7,'julho', inplace=True)
mg['mes'].replace(8,'agosto', inplace=True)
mg['mes'].replace(9,'setembro', inplace=True)
mg['mes'].replace(10,'outubro', inplace=True)
mg['mes'].replace(11,'novembro', inplace=True)
mg['mes'].replace(12,'dezembro', inplace=True)

In [ ]:
mg['vacina_dataAplicacao'].describe()

C:\Users\LUZIAH~1\AppData\Local\Temp/ipykernel_38292/450133197.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  mg['vacina_dataAplicacao'].describe()

count                46266988
unique                    711
top       2021-10-08 00:00:00
freq                   301625
first     1937-01-25 00:00:00
last      2022-06-15 00:00:00
Name: vacina_dataAplicacao, dtype: object

In [ ]:
mg['vacina_dataAplicacao'].value_counts()

2021-10-08    301625
2021-10-14    288415
2021-08-13    264048
2021-10-07    263653
2021-10-13    261401
               ...
2001-08-29         1
2011-08-25         1
2002-12-10         1
2002-02-17         1
2011-10-15         1
Name: vacina_dataAplicacao, Length: 711, dtype: int64

In [ ]:
mg['vacina_descricao_dose'].value_counts()

1ª Dose                           17954472
2ª Dose                           16272432
Reforço                            9366659
2º Reforço                         1420971
Dose Adicional                      739372
Dose                                477282
Única                                34807
3ª Dose                                442
1º Reforço                             334
2ª Dose Revacinação                    130
Dose Inicial                            32
4ª Dose                                 25
1ª Dose Revacinação                     23
3º Reforço                               4
Tratamento com dezessete doses           2
4ª Dose Revacinação                      1
Name: vacina_descricao_dose, dtype: int64

In [ ]:
#pd.set_option('display.max_rows', None)

In [ ]:
mg['paciente_endereco_nmMunicipio'].value_counts()

BELO HORIZONTE          5836839
UBERLANDIA              1582116
CONTAGEM                1268179
JUIZ DE FORA            1095227
BETIM                    980549
                         ...
LAGOA DO TOCANTINS            1
DILERMANDO DE AGUIAR          1
PARAMOTI                      1
ITAOCA                        1
TANQUE DO PIAUI               1
Name: paciente_endereco_nmMunicipio, Length: 5193, dtype: int64

In [ ]:
mg['vacina_dataAplicacao'].unique().max()

numpy.datetime64('2022-06-15T00:00:00.000000000')

In [ ]:
#pd.reset_option('^display.', silent=True)

In [ ]:
mg.columns

Index(['paciente_idade', 'paciente_enumSexoBiologico',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_uf',
       'vacina_grupoAtendimento_nome', 'vacina_fabricante_nome',
       'vacina_dataAplicacao', 'vacina_descricao_dose', 'ano', 'mes'],
      dtype='object')

In [ ]:
geral = mg.groupby(['ano','mes','paciente_endereco_nmMunicipio','vacina_descricao_dose']).count().reset_index()

In [ ]:
geral

,ano,mes,paciente_endereco_nmMunicipio,vacina_descricao_dose,paciente_idade,paciente_enumSexoBiologico,paciente_endereco_uf,vacina_grupoAtendimento_nome,vacina_fabricante_nome,vacina_dataAplicacao
0,1937,janeiro,BELO HORIZONTE,2ª Dose,2,2,2,2,2,2
1,1938,janeiro,BELO HORIZONTE,2ª Dose,2,2,2,2,2,2
2,1947,outubro,BELO HORIZONTE,Reforço,1,1,1,1,1,1
3,1949,julho,BELO HORIZONTE,Reforço,1,1,1,1,1,1
4,1954,abril,BETIM,Reforço,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...
151051,2022,marco,YPE JHU,Reforço,1,1,1,1,1,1
151052,2022,marco,ZACARIAS,1ª Dose,1,1,1,1,1,1
151053,2022,marco,ZACARIAS,2ª Dose,2,2,2,2,2,2
151054,2022,marco,ZE DOCA,Dose Adicional,1,1,1,1,1,1
151055,2022,marco,ZE DOCA,Reforço,7,7,7,7,7,7

In [ ]:
geral.isnull().sum()

ano                              0
mes                              0
paciente_endereco_nmMunicipio    0
vacina_descricao_dose            0
paciente_idade                   0
paciente_enumSexoBiologico       0
paciente_endereco_uf             0
vacina_grupoAtendimento_nome     0
vacina_fabricante_nome           0
vacina_dataAplicacao             0
dtype: int64

In [ ]:
geral.columns

Index(['ano', 'mes', 'paciente_endereco_nmMunicipio', 'vacina_descricao_dose',
       'paciente_idade', 'paciente_enumSexoBiologico', 'paciente_endereco_uf',
       'vacina_grupoAtendimento_nome', 'vacina_fabricante_nome',
       'vacina_dataAplicacao'],
      dtype='object')

In [ ]:
geral

,ano,mes,paciente_endereco_nmMunicipio,vacina_descricao_dose,paciente_idade,paciente_enumSexoBiologico,paciente_endereco_uf,vacina_grupoAtendimento_nome,vacina_fabricante_nome,vacina_dataAplicacao
0,1937,janeiro,BELO HORIZONTE,2ª Dose,2,2,2,2,2,2
1,1938,janeiro,BELO HORIZONTE,2ª Dose,2,2,2,2,2,2
2,1947,outubro,BELO HORIZONTE,Reforço,1,1,1,1,1,1
3,1949,julho,BELO HORIZONTE,Reforço,1,1,1,1,1,1
4,1954,abril,BETIM,Reforço,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...
151051,2022,marco,YPE JHU,Reforço,1,1,1,1,1,1
151052,2022,marco,ZACARIAS,1ª Dose,1,1,1,1,1,1
151053,2022,marco,ZACARIAS,2ª Dose,2,2,2,2,2,2
151054,2022,marco,ZE DOCA,Dose Adicional,1,1,1,1,1,1
151055,2022,marco,ZE DOCA,Reforço,7,7,7,7,7,7

In [ ]:
mg1 = mg.groupby(['vacina_dataAplicacao','paciente_endereco_nmMunicipio','vacina_descricao_dose']).sum('vacina_dataAplicacao')

In [ ]:
mg1

                                                                          paciente_idade  \
vacina_dataAplicacao paciente_endereco_nmMunicipio vacina_descricao_dose
1937-01-25           BELO HORIZONTE                2ª Dose                           0.0
1938-01-05           BELO HORIZONTE                2ª Dose                           0.0
1947-10-25           BELO HORIZONTE                Reforço                           0.0
1949-07-28           BELO HORIZONTE                Reforço                           0.0
1954-04-10           BETIM                         Reforço                           0.0
...                                                                                  ...
2022-06-15           VITORIA                       2º Reforço                      290.0
                     VITORIA DA CONQUISTA          2º Reforço                      276.0
                                                   Reforço                         142.0
                     VOLTA REDONDA                 2º Reforço                      221.0
                                                   Reforço                          24.0

                                                                            ano
vacina_dataAplicacao paciente_endereco_nmMunicipio vacina_descricao_dose
1937-01-25           BELO HORIZONTE                2ª Dose                 3874
1938-01-05           BELO HORIZONTE                2ª Dose                 3876
1947-10-25           BELO HORIZONTE                Reforço                 1947
1949-07-28           BELO HORIZONTE                Reforço                 1949
1954-04-10           BETIM                         Reforço                 3908
...                                                                         ...
2022-06-15           VITORIA                       2º Reforço              8088
                     VITORIA DA CONQUISTA          2º Reforço             12132
                                                   Reforço                 4044
                     VOLTA REDONDA                 2º Reforço             10110
                                                   Reforço                 4044

[1167945 rows x 2 columns]

In [ ]:
uberlandia = mg.loc[mg.paciente_endereco_nmMunicipio=="UBERLANDIA",:]

In [ ]:
uberlandia['vacina_dataAplicacao'].describe()

C:\Users\LUZIAH~1\AppData\Local\Temp/ipykernel_38292/3481321226.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  uberlandia['vacina_dataAplicacao'].describe()

count                 1582116
unique                    499
top       2021-08-01 00:00:00
freq                    11981
first     2021-01-19 00:00:00
last      2022-06-15 00:00:00
Name: vacina_dataAplicacao, dtype: object

In [ ]:
mg.columns

Index(['paciente_idade', 'paciente_enumSexoBiologico',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_uf',
       'vacina_grupoAtendimento_nome', 'vacina_fabricante_nome',
       'vacina_dataAplicacao', 'vacina_descricao_dose', 'ano', 'mes'],
      dtype='object')

In [ ]:
uberlandia = mg.loc[mg.paciente_endereco_nmMunicipio=="UBERLANDIA",['ano', 'mes', 'paciente_endereco_nmMunicipio','vacina_dataAplicacao']]
udi=uberlandia.groupby(['ano','mes','paciente_endereco_nmMunicipio']).count()
udi.head(30)

                                              vacina_dataAplicacao
ano  mes       paciente_endereco_nmMunicipio
2021 abril     UBERLANDIA                                    88423
     agosto    UBERLANDIA                                   137477
     dezembro  UBERLANDIA                                    88264
     fevereiro UBERLANDIA                                    21473
     janeiro   UBERLANDIA                                     5069
     julho     UBERLANDIA                                   158260
     junho     UBERLANDIA                                    86794
     maio      UBERLANDIA                                    77000
     marco     UBERLANDIA                                    39397
     novembro  UBERLANDIA                                   112601
     outubro   UBERLANDIA                                   184326
     setembro  UBERLANDIA                                   193626
2022 abril     UBERLANDIA                                    44718
     fevereiro UBERLANDIA                                    95987
     janeiro   UBERLANDIA                                   106881
     junho     UBERLANDIA                                    32176
     maio      UBERLANDIA                                    43825
     marco     UBERLANDIA                                    65819

In [ ]:
araguari = mg.loc[mg.paciente_endereco_nmMunicipio=="ARAGUARI",['ano', 'mes', 'paciente_endereco_nmMunicipio','vacina_dataAplicacao']]
vacAraguari=araguari.groupby(['ano','mes','paciente_endereco_nmMunicipio']).count()
vacAraguari.head(30)

                                              vacina_dataAplicacao
ano  mes       paciente_endereco_nmMunicipio
2021 abril     ARAGUARI                                      13248
     agosto    ARAGUARI                                      25983
     dezembro  ARAGUARI                                       7508
     fevereiro ARAGUARI                                       3790
     janeiro   ARAGUARI                                        893
     julho     ARAGUARI                                      26899
     junho     ARAGUARI                                      12849
     maio      ARAGUARI                                       9204
     marco     ARAGUARI                                      12704
     novembro  ARAGUARI                                      12601
     outubro   ARAGUARI                                      26833
     setembro  ARAGUARI                                      20096
2022 abril     ARAGUARI                                       6247
     fevereiro ARAGUARI                                      11715
     janeiro   ARAGUARI                                      15417
     junho     ARAGUARI                                       6100
     maio      ARAGUARI                                       6273
     marco     ARAGUARI                                       9723

In [ ]:
uberaba = mg.loc[mg.paciente_endereco_nmMunicipio=="UBERABA",['ano', 'mes', 'paciente_endereco_nmMunicipio','vacina_dataAplicacao']]
vacUberaba=uberaba.groupby(['ano','mes','paciente_endereco_nmMunicipio']).count()
vacUberaba.head(30)

                                              vacina_dataAplicacao
ano  mes       paciente_endereco_nmMunicipio
2021 abril     UBERABA                                       32287
     agosto    UBERABA                                       64998
     dezembro  UBERABA                                       35041
     fevereiro UBERABA                                       11106
     janeiro   UBERABA                                        2360
     julho     UBERABA                                       78804
     junho     UBERABA                                       42384
     maio      UBERABA                                       31673
     marco     UBERABA                                       28727
     novembro  UBERABA                                       57972
     outubro   UBERABA                                       58934
     setembro  UBERABA                                       54200
2022 abril     UBERABA                                       23536
     fevereiro UBERABA                                       33594
     janeiro   UBERABA                                       41477
     junho     UBERABA                                        5848
     maio      UBERABA                                       21625
     marco     UBERABA                                       31806

In [ ]:
monteAlegre = mg.loc[mg.paciente_endereco_nmMunicipio=="MONTE ALEGRE DE MINAS",['ano', 'mes', 'paciente_endereco_nmMunicipio','vacina_dataAplicacao']]
vacmonteAlegre=monteAlegre.groupby(['ano','mes','paciente_endereco_nmMunicipio']).count()
vacmonteAlegre.head(30)

                                              vacina_dataAplicacao
ano  mes       paciente_endereco_nmMunicipio
2021 abril     MONTE ALEGRE DE MINAS                          2484
     agosto    MONTE ALEGRE DE MINAS                          3685
     dezembro  MONTE ALEGRE DE MINAS                          2097
     fevereiro MONTE ALEGRE DE MINAS                           466
     janeiro   MONTE ALEGRE DE MINAS                           107
     julho     MONTE ALEGRE DE MINAS                          4551
     junho     MONTE ALEGRE DE MINAS                          3312
     maio      MONTE ALEGRE DE MINAS                           947
     marco     MONTE ALEGRE DE MINAS                          2560
     novembro  MONTE ALEGRE DE MINAS                          3810
     outubro   MONTE ALEGRE DE MINAS                          4107
     setembro  MONTE ALEGRE DE MINAS                          3292
2022 abril     MONTE ALEGRE DE MINAS                          1819
     fevereiro MONTE ALEGRE DE MINAS                          2384
     janeiro   MONTE ALEGRE DE MINAS                          1948
     junho     MONTE ALEGRE DE MINAS                           495
     maio      MONTE ALEGRE DE MINAS                          1330
     marco     MONTE ALEGRE DE MINAS                          2571

In [ ]:
teofilo = mg.loc[mg.paciente_endereco_nmMunicipio=="TEOFILO OTONI",['ano', 'mes', 'paciente_endereco_nmMunicipio','vacina_dataAplicacao']]
vacteofilo=teofilo.groupby(['ano','mes','paciente_endereco_nmMunicipio']).count().reset_index()
vacteofilo.head(30)

     ano        mes paciente_endereco_nmMunicipio  vacina_dataAplicacao
0   2021      abril                 TEOFILO OTONI                 16613
1   2021     agosto                 TEOFILO OTONI                 27911
2   2021   dezembro                 TEOFILO OTONI                 13980
3   2021  fevereiro                 TEOFILO OTONI                  5016
4   2021    janeiro                 TEOFILO OTONI                  1393
5   2021      julho                 TEOFILO OTONI                 29217
6   2021      junho                 TEOFILO OTONI                 16870
7   2021       maio                 TEOFILO OTONI                 12734
8   2021      marco                 TEOFILO OTONI                 12793
9   2021   novembro                 TEOFILO OTONI                 18022
10  2021    outubro                 TEOFILO OTONI                 31153
11  2021   setembro                 TEOFILO OTONI                 17773
12  2022      abril                 TEOFILO OTONI                  4605
13  2022  fevereiro                 TEOFILO OTONI                 11194
14  2022    janeiro                 TEOFILO OTONI                  9354
15  2022      junho                 TEOFILO OTONI                  1697
16  2022       maio                 TEOFILO OTONI                  5109
17  2022      marco                 TEOFILO OTONI                  6168

In [ ]:
geral

,ano,mes,paciente_endereco_nmMunicipio,vacina_descricao_dose,paciente_idade,paciente_enumSexoBiologico,paciente_endereco_uf,vacina_grupoAtendimento_nome,vacina_fabricante_nome,vacina_dataAplicacao
0,1937,janeiro,BELO HORIZONTE,2ª Dose,2,2,2,2,2,2
1,1938,janeiro,BELO HORIZONTE,2ª Dose,2,2,2,2,2,2
2,1947,outubro,BELO HORIZONTE,Reforço,1,1,1,1,1,1
3,1949,julho,BELO HORIZONTE,Reforço,1,1,1,1,1,1
4,1954,abril,BETIM,Reforço,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...
151051,2022,marco,YPE JHU,Reforço,1,1,1,1,1,1
151052,2022,marco,ZACARIAS,1ª Dose,1,1,1,1,1,1
151053,2022,marco,ZACARIAS,2ª Dose,2,2,2,2,2,2
151054,2022,marco,ZE DOCA,Dose Adicional,1,1,1,1,1,1
151055,2022,marco,ZE DOCA,Reforço,7,7,7,7,7,7

In [ ]:
udi2=mg.loc[mg.paciente_endereco_nmMunicipio=="UBERLANDIA",['vacina_dataAplicacao','vacina_descricao_dose']]

In [ ]:
data = mg.loc[mg.ano==2021,:]

In [ ]:
data['vacina_dataAplicacao'].min()

Timestamp('2021-01-02 00:00:00')

In [ ]:
dia = data.loc[data.vacina_dataAplicacao=="2021-01-02",:]

In [ ]:
mg['vacina_dataAplicacao'].describe()

C:\Users\LUZIAH~1\AppData\Local\Temp/ipykernel_38292/450133197.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  mg['vacina_dataAplicacao'].describe()

count                46266988
unique                    711
top       2021-10-08 00:00:00
freq                   301625
first     1937-01-25 00:00:00
last      2022-06-15 00:00:00
Name: vacina_dataAplicacao, dtype: object

In [ ]:
uberlandia['vacina_dataAplicacao'].describe()

C:\Users\LUZIAH~1\AppData\Local\Temp/ipykernel_38292/3481321226.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  uberlandia['vacina_dataAplicacao'].describe()

count                 1582116
unique                    499
top       2021-08-01 00:00:00
freq                    11981
first     2021-01-19 00:00:00
last      2022-06-15 00:00:00
Name: vacina_dataAplicacao, dtype: object

In [ ]:
uberlandia['ano'].value_counts()

2021    1192710
2022     389406
Name: ano, dtype: int64

In [ ]:
teofilo['ano'].value_counts()

2021    203475
2022     38127
Name: ano, dtype: int64